@use '../../sass/abstract/constants' as constants;

.button {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  font-weight: constants.$font-weight;
  text-transform: uppercase;

  background: transparent;
  border: none;
  border-radius: constants.$border-radius;
  outline: none;
  cursor: pointer;

  transition: constants.$transition;

  &.contained {
    color: constants.$white;
    background: constants.$primary-color;
    box-shadow: constants.$box-shadow-contained-default;

    &:hover {
      background: constants.$primary-hover;
      box-shadow: constants.$box-shadow-contained-hover;
    }

    &:active {
      box-shadow: constants.$box-shadow-contained-active;
    }

    &.disabled {
      color: constants.$disabled-text;
      background: constants.$disabled-bg;
      box-shadow: none;
      cursor: not-allowed;
    }
  }

  &.text {
    color: constants.$primary-color;

    &:hover {
      background: constants.$text-hover-bg;
    }

    &.disabled {
      color: constants.$disabled-text;
      cursor: not-allowed;
    }
  }

  &.outlined {
    color: constants.$primary-color;
    border: 1px solid constants.$primary-outline;

    &:hover {
      background: constants.$outlined-hover-bg;
      border: 1px solid constants.$primary-color;
    }

    &.disabled {
      color: constants.$disabled-text;
      border: 1px solid constants.$disabled-text;
      cursor: not-allowed;
    }
  }

  &.small {
    padding: constants.$button-padding-small;
    font-size: constants.$button-font-size-small;
  }

  &.medium {
    padding: constants.$button-padding;
    font-size: constants.$button-font-size;
  }

  &.large {
    padding: constants.$button-padding-large;
    font-size: constants.$button-font-size-large;
  }

  &:after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    width: constants.$ripple-size;
    height: constants.$ripple-size;

    background: constants.$ripple-color;
    opacity: 0;
    border-radius: 50%;
    pointer-events: none;

    transform: translate(-50%, -50%) scale(0);
  }

  &.ripple:after {
    animation: ripple 0.6s linear;
  }

  &.text:after,
  &.outlined:after {
    background: constants.$ripple-color-dark;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.75;
  }
  100% {
    transform: translate(-50%, -50%) scale(constants.$ripple-scale);
    opacity: 0;
  }
}
