@use '../../sass/abstract/constants' as constants;

.container {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 180px;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;

  padding: 4px;

  font-size: constants.$input-font-size;
  color: constants.$dark;

  background-color: constants.$white;
  transition: constants.$transition;

  &_focused {
    top: -10px;
    left: 8px;
    padding: 4px;

    font-size: constants.$label-font-size;
    color: constants.$primary-color;
  }
}

.hidden {
  display: none;
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 15px;
  padding: constants.$select-padding;

  font-size: constants.$input-font-size;
  color: constants.$dark;

  background-color: constants.$white;
  border: 1px solid constants.$border-color;
  border-radius: constants.$border-radius;
  cursor: pointer;

  transition: constants.$transition;

  &:hover {
    border-color: constants.$dark;
  }

  &:focus {
    border-color: constants.$primary-color;
    outline: none;
  }
}

.selected {
  flex: 1;
}

.optionsList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  margin: 0;
  padding: 0;
  width: 198px;
  max-height: 200px;
  z-index: 10;

  background-color: constants.$white;
  border-radius: 0 0 constants.$border-radius constants.$border-radius;
  box-shadow: constants.$box-shadow-contained-default;
  list-style: none;
  overflow-y: auto;
}

.option {
  padding: constants.$select-padding;

  font-size: constants.$input-font-size;
  color: constants.$dark;

  cursor: pointer;

  transition: constants.$transition;

  &:hover {
    background-color: constants.$border-color;
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: 0;

  font-size: 12px;
  color: constants.$dark;

  pointer-events: none;
  cursor: pointer;

  transform: translateY(-50%);
}
