@use '../../sass/abstract/constants' as constants;
@use '../../sass/abstract/mixins' as mixins;

.container {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 180px;
}

.label {
  @include mixins.label(15px, 15px, 8px, -10px);
  z-index: 1;
  padding: 4px;
  background-color: constants.$white;
  &_focused {
  }
}

.selectWrapper {
  position: relative;
  width: 100%;
}
