// Button
$padding: 6px 16px;
$padding-small: 4px 10px;
$padding-large: 8px 22px;

$font-size: 14px;
$font-size-small: 13px;
$font-size-large: 15px;
$font-weight: 500;

$border-radius: 4px;
$transition: all 0.2s ease-in-out;

$primary-color: #1976d2;
$primary-hover: #115293;
$primary-outline: #1976d280;
$text-color: #1976d2;
$text-hover-bg: #1976d21a;
$outlined-hover-bg: #1976d20a;
$white: #ffffff;

$ripple-color: #ffffff4d;
$ripple-color-dark: #1976d280;
$ripple-size: 100px;
$ripple-scale: 2.5;
